* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-font: 'Sedgwick Ave', cursive;
  --primary-color: lightblue;
  --secondary-color: #212f45;
  --third-color: #faf9f9;
}

body {
  background: var(--primary-color);
  height: 100vh;
  color: var(--secondary-color);
  font-family: var(--main-font);
  color: green;
  text-align: center;
  font-size: 25px;
  cursor: pointer;

}
h1 .flex .justify-between{
  justify-content: space-between;
  display: flex;
}
.header-page {
  font-weight: 500;
  margin-top: 0;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  width: 100%;
  background: black;
  padding: 2px 0;
  color: #fff;

}
.pokemon-list {
  margin: 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#page-header {
  float: left;
  display: block;
  margin-left: auto;
  height: 50px;
  width: 20px;
}

.container-fluid .container{
  width: 100;
  width: 1140px;
  display: block;
  margin: 0 auto;
}

.page-header__logo {
  width: 212px;
  height: 54px;
}

.card-container-item {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
}

.my_button {
  padding: 32px 32px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 5px 3px;
  cursor: pointer;
  background-color: white;
  border: 2px solid purple;
  align-content: center;
  text-transform: capitalize;
}

.my_button:hover {
  background-color: red;
  animation: bounce 0.5s linear;
}
.my_button{
  animation: animate 7s ease infinite;
}

h1, title:first-letter{
  text-transform: capitalize;
  font-size: 45px;
}

html,
body {
  font-family: Arial, sans-serif;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  max-width: 700px;
  background-color: pink;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
#show-dialog{
  height: 100px;
  width: 100px;
  border-bottom-width: 4;
  background: red;
  animation: animate 4s ease infinite;
  border-radius: 100%;
  border: solid purple; */
  margin-top: 10px;
  margin-bottom: 10px;
 }

@keyframes animate {
    0% {
        background-color: #9b59b6;
    }
    50% {
        background-color: #3498db;
    }
    80% {
        background-color: #00FFFF;
    }
    100% {
        background-color: #708090;
    }
    120% {
        background-color: #F5FFFA;
    }
    140% {
        background-color: #ADFF2F;
    }
    160% {
        background-color: #16a985;
    }
  }

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
/* smaller devices (phones, 600px and up) */
@media (min-width: 600px) and (max-width: 700px) {
  .pokemon-list{
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    align-content: center;
  }
}
