* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-font: 'Sedgwick Ave', cursive;
  --primary-color: lightblue;
  --secondary-color: #212f45;
  --third-color: #faf9f9;
}

body {
  background: var(--primary-color);
  height: 100vh;
  color: var(--secondary-color);
  font-family: var(--main-font);
  color: green;
  text-align: center;
  font-size: 25px;
  cursor: pointer;

}

.header-page {
  font-weight: 500;
  margin-top: 0;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  width: 100%;
  background: black;
  padding: 2px 0;
  color: #fff;

}
.pokemon-list {
  margin: 4rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card-container {
  margin: 2rem;
  display: grid;
  font-size: 2rem;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  border: 1px solid black;
  animation: card-container 7s ease-out infinite normal;
  background-color: orange;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

#page-header {
  float: left;
  display: block;
  margin-left: auto;
  height: 50px;
  width: 20px;
}

.container-fluid{
  width: 100%;
}

.container{
  width: 1140px;
  display: block;
  margin: 0 auto;
}

.page-header__logo {
  width: 220px;
  height: 100px;
}

.card-container-item {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
}

.my_button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid purple;
}

.my_button:hover {
  background-color: red;
}

@keyframes card-container {
    20% {
        transform: scale(0.22);
    }
    60% {
          transform: scale(0,1);
    }

    80% {
          transform: scale(0.22);
    }
    100% {
          transform: scale(0.22);
    }
}
