
:root {
  --main-font: 'Sedgwick Ave', cursive;
  --primary-color: lightblue;
  --secondary-color: #212f45;
  --third-color: #faf9f9;
}

body {
  background: var(--primary-color);
  height: 100vh;
  color: var(--secondary-color);
  font-family: var(--main-font);
  color: green;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.page-container {
  margin-top: 90px;
}
.pokemon-list {
  margin: 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.navbar{
  border: groove;
  background-color: #DEB887;
}

.page-header__logo {
  width: 20%;
}

.title {
  text-align: center;
  font-size: 80px;
  margin: 5px;
  font-size: 50px;
  color: black;
}

#search-pokemon {
  padding: 10px 0px;
  font-size: 15px;
  border-radius: 7px;
}

li {
  margin: 20px;
}

.modal-title {
  color: red;
  font-family: Arial, sans-serif;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  background: url('../images/background-img.svg')no-repeat;
}

.modal-body {
  padding-top: 40px;
  font-size: 29px;
  text-align: center;
  background-color: rgba(120, 200, 80, 0.25);
  border: 2px solid rgb(78, 130, 52);
}

.my_button {
  padding: 32px 32px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 5px 3px;
  cursor: pointer;
  background-color: white;
  border: 2px solid purple;
  align-content: center;
  text-transform: capitalize;
}

.my_button:hover {
  background-color: red;
  animation: bounce 0.5s linear;
}
.my_button{
  animation: animate 7s ease infinite;
}

h1, title:first-letter{
  text-transform: capitalize;
  font-size: 45px;
}

html,
body {
  font-family: Arial, sans-serif;
}

@keyframes animate {
    0% {
        background-color: #9b59b6;
    }
    50% {
        background-color: #3498db;
    }
    80% {
        background-color: #00FFFF;
    }
    100% {
        background-color: #708090;
    }
    120% {
        background-color: #F5FFFA;
    }
    140% {
        background-color: #ADFF2F;
    }
    160% {
        background-color: #16a985;
    }
  }

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
